@font-face {
    font-family:'plantilla1';    
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
	     url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family:soluciones_comercios;
    src:url('../fonts/comercios/solComercios/sc.eot'),
    url('../fonts/comercios/solComercios/sc.svg'),
    url('../fonts/comercios/solComercios/sc.ttf'),
    url('../fonts/comercios/solComercios/sc.woff');
}
@font-face {
    font-family:soluciones_procesamiento;
    src:url('../fonts/comercios/solProcesamientos/sp.eot'),
    url('../fonts/comercios/solProcesamientos/sp.svg'),
    url('../fonts/comercios/solProcesamientos/sp.ttf'),
    url('../fonts/comercios/solProcesamientos/sp.woff');
}
@font-face {
    font-family:soluciones_recaudo;
    src:url('../fonts/comercios/solRecaudo/recaudo.eot'),
    url('../fonts/comercios/solRecaudo/recaudo.svg'),
    url('../fonts/comercios/solRecaudo/recaudo.ttf'),
    url('../fonts/comercios/solRecaudo/recaudo.woff');
}
@font-face {
    font-family:soluciones_recarga;
    src:url('../fonts/comercios/solRecarga/recarga.eot'),
    url('../fonts/comercios/solRecarga/recarga.svg'),
    url('../fonts/comercios/solRecarga/recarga.ttf'),
    url('../fonts/comercios/solRecarga/recarga.woff');
}
@font-face {
    font-family:soluciones_fidelizacion;
    src:url('../fonts/comercios/solFidelizacion/fidelizacion.eot'),
    url('../fonts/comercios/solFidelizacion/fidelizacion.svg'),
    url('../fonts/comercios/solFidelizacion/fidelizacion.ttf'),
    url('../fonts/comercios/solFidelizacion/fidelizacion.woff');
}
@font-face {
    font-family:soluciones_monitoreo;
    src:url('../fonts/entidades/solMonitoreo/monitoreo.eot'),
    url('../fonts/entidades/solMonitoreo/monitoreo.svg'),
    url('../fonts/entidades/solMonitoreo/monitoreo.ttf'),
    url('../fonts/entidades/solMonitoreo/monitoreo.woff');
}
@font-face {
    font-family:rbm;
    src:url('../fonts/rbm.eot'),
    url('../fonts/rbm.svg'),
    url('../fonts/rbm.woff'),
    url('../fonts/rbm.ttf');
}
@font-face {
    font-family: 'icons_instagram';
    src: url('../fonts/instagram/instagram.woff') format('woff'),
        url('../fonts/instagram/instagram.eot'),
         url('../fonts/instagram/instagram.svg'),
         url('../fonts/instagram/instagram.ttf');        
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf'),
    url('../fonts/glyphicons-halflings-regular.woff'),
    url('../fonts/glyphicons-halflings-regular.woff2'),
    url('../fonts/glyphicons-halflings-regular.eot'),
    url('../fonts/glyphicons-halflings-regular.svg');
}
@font-face{
    font-family: 'contactenos';
    src: url('../fonts/contactenos/contactenos.ttf'),
    url('../fonts/contactenos/contactenos.eot'),
    url('../fonts/contactenos/contactenos.svg'),
    url('../fonts/contactenos/contactenos.woff');
}
@font-face{
    font-family: 'rdbn-ico';
    src: url('../fonts/rdbn-ico.eot'),
    url('../fonts/rdbn-ico.svg'),
    url('../fonts/rdbn-ico.ttf'),
    url('../fonts/rdbn-ico.woff');
}
@font-face{
    font-family: soluciones_moviles;
    src: url('../fonts/comercios/solFidelizacion/soluciones_moviles.ttf'),
    url('../fonts/comercios/solFidelizacion/soluciones_moviles.woff');
}
@font-face{
    font-family: 'H-NeueBold';
    src: url(../fonts/helveticaneue/HelveticaNeueBd.ttf);
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {   
    font-family:'plantilla1'; 
    background-color: #fff;
    color: #222;
    /*font: 75%/1.5 Arial,Helvetica,sans-serif;*/
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/LogoLoad.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-family:'plantilla1';
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-family:'plantilla1';
    font-size: 18px;
}
.h5, h5 {
    font-family:'plantilla1';
    font-size: 17px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    margin: 0 0 10px;   
    font-family:'plantilla1'; 
}
a {
    color: #337ab7;
    text-decoration: none;
    font-family:'plantilla1';
}
/* Barra de navegación */
#navigation{background: #fff;}
.navbar {
    font-family:'plantilla1';
    position: relative;
    min-height: 50px;       
    border-bottom: 1px solid #e7e7e7;
    height: 75px;
    padding: 0 50px !important;
    z-index: 100;
}

.navbar-nav {
    margin-top: 15px;
}
#nav {
    background: rgba(255, 255, 255, 0.85);
    margin: 0 20px 0 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top:0;
}
.nav-item.dropdown.show {
    background-color: rgb(23,77,150) !important;    
}
.nav-item.dropdown.show #navbarDropdown{
    color: #fff;
}
.dropdown-menu {
    margin: 0 0 0 -154px;
    border: none;
    border-radius: 0;
    background: rgba(23, 78, 150, 0.8); 
    width: 250px;   
}
.dropdown-menu  a.dropdown-item{
    color: #fff;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #9de000 !important;
    text-decoration: none;
    background: rgba(23, 78, 150, 0.8);
}
.dropdown-item {
    color: #fff;
    text-align: left;
    padding-left: 10px;
}
span.dropdown-item{
    padding-left: 13px;
}
.dropdown-item span{
    display: none;
}

.dropdown-item:hover span{
    display: inline;
    color: #9de000;
}
.dropdown-item:hover a{    
    color: #fff;
}
.dropdown-item:hover a:hover{    
    color: #9de000;
    text-decoration: none;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-light .navbar-nav .nav-link {
    padding: 0 12px 3px;
    line-height: 30px;
    position: relative;
    top: 0;
    font-size: 16px;
}
.navbar-right{
    margin-top: 20px;
}
.nav-item a{
    color: #777;
    padding: 5px 12px 3px;
    line-height: 30px;
    position: relative;
    top: 0;
    font-size: 16px;
}
.navbar-nav li:nth-child(4) a {    
    margin-right: 50px;
}
.navbar-nav li:nth-child(5) a {
    border-left: 2px solid rgb(23,77,150) !important;    
}
.navbar-collapse {
    background: rgba(255, 255, 255, 0.85);
    z-index: 10;
}
#navbarResponsive{
    background: rgba(255, 255, 255, 0.85);
}
.navbar-toggler {    
    background-color: #fff;
    border: 1px solid #174d96;    
}
[class*=" icon-"], [class^="icon-"] {
    font-family: rbm !important;
}
.navbar-brand  img{ max-height: 72px;}
.icon-bar {
    background-color: #174d96 !important;
    color: #174d96;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 5px 0;
}
.second-level{
    display: none;    
}
.second-level ul{
    list-style: none;
    padding: 0;
}
.second-level span{
    display: none;
}
.second-level:hover span{
    display: inline;
}
.second-level ul li:hover{
    color:#9de000;
}
#app1,#app2,#app3,#app4{
    position: relative;
}
#app1:hover > .second-level,#app2:hover > .second-level,#app3:hover > .second-level,#app4:hover > .second-level{
    display: block;
    width: 235px;
    position: absolute;
    background: rgba(23, 78, 150, 0.8);
    color: #fff;
    left: -235px;
    top:0px;
    padding: 5px 10px;
    text-align: left;
} 

/* Slider principal*/
#carouselHome,#carouselHomeMini{
    margin-top: 75px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel-indicators{
    border-radius: 50%;
    color:#fff;
    padding: 0 10px;
}
.carousel-indicators .active {
    background-color: #9de000; 
    width: 7px;
    max-height: 7px ;
}
.carousel-indicators li {
    width: 7px;
    height: 7px;
    color:#fff;
    opacity: 1;
    border-radius: 50%; 
    margin: 10px;
    padding: 2px;   
}
.text-slide{
    position: relative;    
}
.text-slide p{
    position: absolute;
    top: 5%;
    width: 70%;
    text-align: left;
}
.text-slide a{
    text-align: left;    
}
.aux-caption h1{font-size: 42px;}
.adjust{
    top:25%;
}
.adjust .link-sub{
    margin-top: 10%;
    text-align: left;
}
.adjust p{
    font-size: 24px;
}
.adjust-2{
    top:8%;
}
.adjust-2 .link-sub{
    margin-top: 15%;
    text-align: left;
}
.adjust-2 p{
    font-size: 22px;
}
.adjust h1, .adjust-2 h1{
    font-size: 42px;
}
.carousel-caption {    
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption.aux-caption {        
    top: 0;        
    z-index: 10;
    padding-top: 0;        
}
.aux-caption p{
    font-size: 22px;
}
.descpci {
    color: white;
    border: 2px solid #fff;
    padding: 14px;
    font-size: 30px;
    text-align: center;
}
.logopci{
    color: black;
    background: rgba(255,255,255,0.8);
    margin: 10px;
    padding: 10px 14px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.logopci img{
    max-width: 26%;
    max-height: 50px;
    align-self: center;
    
}
.logopci span{
    text-align: center;
    font-size: 30px;
    margin: 2%;
    align-self: center;
color:#717175;
width: 100%;
}
.addtextpci {
    color: #717175;
    background: rgba(255,255,255,0.8);
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 24px;
}
.verde {
    color: #9de000;
}
.nv-azul{
    color: #00009F;
}
.icono-contactenos, .tel {
    width: 100px;
    border-radius: 100%;
    position: relative;
}
.global{
    text-align: left;
}
.global img{
    max-width: 300px;
}
.tel {
    padding: 10px 20px 10px 15px;
    background: rgb(23,77,150);
    opacity: .8;
}
.colorActivo {
    filter: none!important;
    -webkit-filter: grayscale(0)!important;
}
.seccionProductos, .seccionProductos a img, .seccionProductos span{
    text-align: center;
    margin: 0 auto;
}
.seccionProducto1, .seccionProducto2{
    margin: 0 auto;
}
.seccion-noticias li, .seccion-productoDestacado li {
    background-color: #383838;    
    margin: 0 1% 2%!important;
}
.subseccion {
    padding-top: 50px;
}
.iva-banner{
    position: relative;
}
.info-iva{
    position: absolute;
    top:70%;
    width: 80%;
    display: block;   
    text-align: center; 
    margin: 0 auto;
}
.info-iva a{
    color:#f58000;
    display: block;    
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 58%, rgba(184,184,184,1) 91%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(58%, rgba(219,219,219,1)), color-stop(91%, rgba(184,184,184,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 58%, rgba(184,184,184,1) 91%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 58%, rgba(184,184,184,1) 91%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 58%, rgba(184,184,184,1) 91%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 58%, rgba(184,184,184,1) 91%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.3em;
    text-decoration: none;
}
.btn-pagos{
    margin-top:30%;
}
.btn-pagos img{
    width: 100%;
}
h1.mas-grande{
    font-size: 40px; 
}
.mas-grande{
    font-size: 24px;
}
/*Nueva seccion*/
.titulo-subseccion{
    font-size: 32px;        
}
.titulo-subseccion span{
    font-weight: 500;
}
.titulo-subseccion span strong{
    font-family: 'H-NeueBold';
}
.blue-line{
    width: 100%;
    max-width: 344px;
    height: 2px;
    background: #0042C7 ;
    margin: 0 auto 50px auto;
}
.separador{
    height: 30px;
}
.data-cajon{
    max-width: 302px;
    height: 335px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px #001F6B;
    background: #fff;
    border-radius: 10px;
    position:  relative;
}
.data-cajon img{
    display:block;
    margin:  0 auto;
    position: relative;
    top: -50px;        
}
.ot-azul{
    color: #0042C7;
}
.minititulo{
    font-family: 'H-NeueBold';
    color: #0042C7;
    font-size: 1.5em;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 10px;
}
.data-cajon p{
    color:#333333;
    text-align: center;
    margin: 0 auto;
    max-width: 262px;
    min-height: 80px;
}
.ln-separador{
    width: 90%;
    display: block;
    margin: 5px auto;
    border-bottom: 1px solid #CFCFCF;
}
.cajon{
    margin: -20px auto 0 auto;
    background: #0042C7;
    max-width: 302px;
    display: block;
    border-radius: 0 0 10px 10px;
}
.cajon h4{
    font-family: 'H-NeueBold';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.cajon h5{
    font-size: 16px;
    color: #fff;    
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.inicio{
    height: 170px;
}
.inicio p{
    margin-top: 15px;
}


.cajon p{
    margin: 10px auto;
}
.cajon span{
    color: #FB6B03;
    font-weight: bold;
}
.cajon span.tacha{
    color: #383838;
    text-decoration: line-through;
}
.nota{
    display: block;
    width: 100%;
    text-align: center;
    color: #FB6B03;
}
.btn-azul{
    display: block;
    text-decoration: none;
    color: #fff;
    background: #00009F;
    border-radius: 5px;
    padding: 5px;
    width: 85%;
    margin: 20px auto 5px auto;
    text-align: center;
}
.btn-azul:hover{
    text-decoration: none;
    color: #fff;
}
.aviso{
    text-align: center;
    margin: 20px auto;
}
/* Sección noticias */
.azul {
    color: rgb(23,77,150);
}
.noticias-link{
    color:#337ab7;
    /*color:#fff;*/
    padding: 10px 0;
    border-radius: 25px;
    text-decoration-line: none;
}
/*Productos*/
img.grayscale {
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all .6s ease;
    backface-visibility: hidden;
}
img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.enlaces-interes img {
    border: 2px solid;
    border-color: rgb(23,77,150)!important;
}
.block-center {
    margin: 0 auto;
}
/* Quienes*/
.seccionTitulo {
    display: inline-flex;
}
.encabezado2, .encabezado{
    margin-left: 115px;
    margin-top: 20px;
    font-size: 34px;
    padding-top: 80px;
}
.fondoAzul {
    background: rgb(23,77,150);
}
.cuadroQS{
    padding: 2%;
}
.botonF1, .intro-b div {
    background-color: #9de000;
}
.intro-b div {
    width: 100%;
}
.carouselQS{
    padding: 10px;
}
.seccionQS {
    margin: 2% 0 0%;
}
.seccionQS img{
    vertical-align: middle;
    margin: 0 auto;
}
.seccionQS h2, .seccionQS h1{
    text-align: center;
    width: 100%;
}
.seccionQS p.blanco{
    width: 100%;
    text-align: center;
}
.container.slider {
    position: relative;
}
.glyphicon-menu-left:before {
    content: "\e257";
}
.glyphicon-menu-right:before {
    content: "\e258";
}
.container.slider #previousHistoria {
    left: 0;
}
.container.slider #nextHistoria {
    right: 0;
}
.container.slider #nextHistoria, .container.slider #previousHistoria {
    color: rgb(23,77,150);
    font-size: 60px;
    padding: 300px 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
}
.slider-historia {
    position: relative;
    padding: 50px 0;
    overflow: hidden;
    margin: 0 auto;
    width: 632px;
}
#slider-historia {
    overflow: hidden;
    padding-left: 0!important;
}
.slider-historia ul li {
    text-align: center;
    width: 170px;
    height: 500px;
    float: left;
    cursor: pointer;
}
#datafonosSC>li:first-child, #slider-historia>li:first-child {
    margin-left: -8px;
}
.negro {
    color: #000;
}
.centro, .linkmaps, .tel, .terminosLegales, .wrapper-Footer {
    text-align: center !important;
}
h1.modal-title{
    width: 100%;
    margin: 0 auto 0 -25px;
}
.modal-body,.modal-body img{
    margin:0 auto;
}
#modalContacto.modal .modal-dialog{
    margin: 25% auto;
}
#modalContacto.modal .modal-body {	
	padding: 2rem;
}
#modalContacto.modal .modal-body p{	
    text-align: center;
    font-size: 1.2em;
}
.sliderReconocimientos {
    padding-top: 10px;
    border-left: 3px solid;
    border-color: #9de000;    
}
.carouselQS .seccionQS {
    margin: 2% 0 4%;
}
.seccionQS .carousel-indicators {
    border-radius: 50%;
    color: #fff;
    padding: 0;
    margin-bottom: -35px;
}
.js .cd-h-timeline__container {
	position: relative;
	max-width: 800px;
	height: 500px;
}
.js .cd-h-timeline__line {
	top: 50%;	
}
.cd-h-timeline__date img{
    position: relative;
    margin-bottom: -150%;    
    z-index: 0;
}
.js .cd-h-timeline__date::after {
	content: '';
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -5px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-color: transparent;
	background-color: transparent;
	background-color: transparent;
	transition: none;
}
.js .cd-h-timeline__date:hover::after {
	background-color: transparent;
	background-color: transparent;
	border-color: transparent;
	border-color: transparent;
}
.js .cd-h-timeline__line {	
	background-color: transparent;	
}
.js .cd-h-timeline__filling-line {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	background-color: transparent;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}
.js .cd-h-timeline__navigation {	
	height: 50px;
	width: 30px;
	border-radius: 0;
	border-width: 0;
	border-style: none;	
}
.js .cd-h-timeline__navigation::after {
    font-family: 'Glyphicons Halflings';
	content: "\e258";
	position: absolute;
	height: 50px;
	width: 35px;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(../recursos/next.png) no-repeat 0 0;
}
.js .cd-h-timeline__dates::before {
	left: 0;	
	background: none; 
}
.js .cd-h-timeline__dates::after, .js .cd-h-timeline__dates::before {	
	width: 0;
}
.js .cd-h-timeline__dates {	
	margin: 0 25px;	
}
/*Trabaje*/
.MultiCarousel { overflow: hidden; padding: 15px; width: 90%; position:relative; margin: 0 auto;}
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px;  color:#fff;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; font-size: 40px;cursor: pointer;}
.MultiCarousel .rightLst { right:0; font-size: 40px;cursor: pointer;}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none;font-size: 40px;cursor: pointer; }
/*Casos*/
.slider-casosExito {
    position: relative;
    padding: 85px 0;
    overflow: hidden;
    margin: 0 auto;
}
.slider-casosExito ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 200px;
}
.slider-casosExito ul li {
    text-align: center;
    width: 200px;
    height: 150px;
    float: left;
    visibility: hidden;
}
.slider-casosExito ul li img{
    margin: 0 auto;
}
.parte-2 {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 2%;
	padding-bottom: 2%;
}
.testimonio {
	padding-top: 5%;
	height: 100%;
	padding-bottom: 5%;
}
.casosCarousel, .testimonio, .ttlpasos {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
/*Noticias*/
.contenedor-introduccionNoticias {
    border-radius: 10px;
    opacity: .9;
    background: rgb(23,77,150);
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.seccNoticias {
    padding: 2% 0;
}
/*Consumidor*/
.lista {
    list-style: none;
    padding-bottom: 10px;
}
.ico-pdf:before {
    content: "\f1c1";
    color: red;
}
.ico {
    font-family: 'rdbn-ico';    
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ico, .ico-globe {
    font-size: 20px;
}
.componentesPDF{
    padding-bottom: 20px;
}
/*Mapa*/
.ciudad {
    margin: 10px 0;
}
/*Soluciones de procesamiento*/
.icoSP-PROCESAMIENTO-DE-FRANQUICIAS::before {
	content: "\e901";
}
.icoSP-TARJETA-SIN-CONTACTO::before {
	content: "\e904";
}
.icoSP-TARJETA-PRIVADA::before {
	content: "\e903";
}
.icoSP-TARJETA-PREPAGO::before {
	content: "\e902";
}
.sp-style:hover {
    color: #fff !important;
    background: rgb(136,24,31);
    border-radius: 100%;
    border-color: rgb(136,24,31) !important;
}
.slider-solucionesProcesamiento {
    width: 800px;
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    margin-left: 15%;
}
ul#slider-solucionesProcesamiento {
	margin: 0 auto;
	width: 400px;	
}
.slider-solucionesProcesamiento ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 220px;
}
.slider-solucionesProcesamiento ul li {
    text-align: center;
    width: 200px;
    height: 150px;
    float: left;    
}
.slider-solucionesProcesamiento ul li a {
    color: rgb(23,77,150);
    width: 100%;
    height: 100%;
    padding: 10%;
    display: block;
    text-decoration: none;
}
.slider-solucionesProcesamiento ul li span:hover {
    color: #fff;
    background: RGB(136,24,31);
    border-radius: 100%;
    border-color: RGB(136,24,31);
    cursor: pointer;
}
.bannerSP {
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    overflow: hidden;
}
.contenedorProcesamientos {
    margin-top: 2%;
    background: RGB(23,77,150);
    border-radius: 10px;
    padding-bottom: 1px;
}
.descripcionPorcesamientos {
    color: #fff;
    text-align: justify;
    margin: 2% 3% 0 2%;
}
.descripcionPorcesamientos p {
    font-size: 19px;
}
.slider-solucion_procesamiento_bono {
    width: 1000px;
}
.slider-solucion_procesamiento_bono {
    position: relative;
    padding: 80px 0;
    overflow: hidden;    
}
.slider-solucion_procesamiento_bono ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
}
.slider-solucion_procesamiento_bono ul li {
    text-align: -webkit-center;
    width: 250px;
    height: 200px;
    float: left;
}
.slider-solucion_procesamiento_bono ul li a {
    color: RGB(23,77,150);
    width: 250px;
    height: 250px;
    padding: 10%;
    display: block;
    text-decoration: none;
}
.rojoSP, .rojoTinto {
    color: #88181F;
}
.beneficiosSP{
    text-align: center;
    margin: 0 auto;
}
.beneficiosSP div p {
    margin: 4% 0;
}
.beneficiosSP img{
    margin: 0 auto;
    width: 80px;
}
[class*=" icoSP-"], [class^="icoSP-"] {
    font-family: soluciones_procesamiento !important;
}
.icoSP-TARJETA-PRIVADA::before {
    content: "\e903";
}
.icoMonitoreo-MONITOREO::before, .icoSP-BONO::before {
    content: "\e900";
}
.slider-solucion_procesamiento_bono ul li a {
    color: rgb(23,77,150);
}
.slider-solucion_procesamiento_bono ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 250px;
}
.slider-solucion_procesamiento_bono img{
    margin:0 auto;
}
/* Recaudo */
[class*=" icoRecaudo-"], [class^="icoRecaudo-"] {
    font-family: soluciones_recaudo !important;
}
.icoRecaudo-RECAUDO_ELECTRONICO::before {
    content: "\e903";
}
.icoRecaudo-PAGO_CON_REFERENCIA::before {
    content: "\e901";
}
.icoRecaudo-MODULOS_PUNTO_DE_PAGO::before {
    content: "\e900";
}

.icoRecaudo-PAGOS_PERIODICOS::before {
    content: "\e902";
}
.slider-solucionesRecaudo {
	width: 800px;
    margin: auto;
    position: relative;
	padding: 80px 0;
	overflow: hidden;
}
.slider-solucionesRecaudo ul {
	list-style: none;
	margin: 0;
	padding: 0;
    height: 200px;
    display: inline-flex;
}
.slider-solucionesRecaudo ul li {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}
.slider-solucionesRecaudo ul li a {
    color: rgb(23,77,150);
    width: 100%;
    height: 100%;
    padding: 10%;
    display: block;
    text-decoration: none;
}
.slider-solucionesRecaudo ul li a h4 {
    margin: 0;
    padding-top: 0px;
    color: rgb(23,77,150);
    text-align: center;
}
.azulRecaudo {
    color: #010039;
}
.ttlRecaudo {
    color: #010039;
    font-weight: 700;
}
.introduccionRecaudos {
	color: #fff;
	font-size: 24px;
}
.bar-descripcionRecaudo div {
    width: 100%;
    background-color: #010039;
}
/*Recargas*/
[class*=" icoRecarga-"], [class^="icoRecarga-"] {
	font-family: soluciones_recarga !important;	
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.recarga-style {	        
    border-radius: 100%;
}
.recarga-style:hover {
	background: rgb(255,206,0);
    border-color: rgb(255,206,0) !important;
    color: #fff !important;
    border-radius: 100%;
}

.icoRecarga-RECARGA_CON_TARJETAS::before {
    content: "\e901";
}
.slider-solucionesRecarga {
	width: 600px;
    margin: auto;
    height: 250px;
}
.slider-solucionesRecarga ul {
    list-style: none;    
	margin: 0;
	padding: 0;
	height: 200px;
}

.slider-solucionesRecarga ul li a {
	color: rgb(23,77,150);
	width: 100%;
	height: 100%;
	padding: 10%;
	display: block;
	text-decoration: none;
}
.slider-solucionesRecarga ul li a h4 {
	margin: 0;
    padding-top: 10px;
    color: rgb(23,77,150);
    text-align: center;
}
.parte-1 {
	width: 100%;
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.introduccionRecaudos {
	color: #fff;
	font-size: 24px;
	margin: 7% 5% 6% 4%;
}
.contenedor-introduccionSC {
	margin-top: 4%;
	background: rgb(23,77,150);
	border-radius: 10px;
	opacity: .8;
}
.amarillo {
	color: #ffce00;
}
.bar-descripcionRecarga div {
	width: 100%;
	background-color: #ffce00;
}
/*fidelizacion*/
[class*=" icoFidelizacion-"], [class^="icoFidelizacion-"] {
	font-family: soluciones_fidelizacion !important;
}
.icoFidelizacion-LEALTAD::before {
	content: "\e902";
}
.icoFidelizacion-ENCUESTAS::before {
	content: "\e901";
}
.icoFidelizacion-DESCUENTOS::before {
	content: "\e900";
}
.slider-solucionesFidelizacion ul li a {
	color: rgb(23,77,150);
}
.slider-solucionesFidelizacion ul li a {
	color: rgb(23,77,150);
	width: 100%;
	height: 100%;
	padding: 10%;
	display: block;
	text-decoration: none;
}
.fidelizacion-style {
	background: rgb(78,0,119);
	border-color: rgb(78,0,119) !important;
}
.slider-solucionesFidelizacion ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 300px;
}
.slider-solucionesFidelizacion ul li {
	width: 200px;
    height: 150px;
    display: inline-flex;
}
.slider-solucionesFidelizacion ul li h4{
    text-align: center;    
}
.slider-solucionesFidelizacion ul li span:hover {
	color: #fff;
	background: rgb(78,0,119);
	border-radius: 100%;
	border-color: rgb(78,0,119);
}
.listaFidelizacion li {
	list-style: circle url(../recursos/punto-morado.png);
}
.colorFidelizacion {
	color: #4e0077;
}
/* Responsabilidad */
.rsContenedor {
    margin: 4% 0;
}
.encabezado2 div{
    font-size: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 35px;
}
.rsContenedor p {
    margin: 0 10%;
}
.azulSC {
    color: #a4ccfc;
}
.naranja {
    color: #FB6B03;
}
.rojo {
    color: red;
}
.icoSP-TARJETA-SIN-CONTACTO::before {
    content: "\e904";
}
.icoSP-TARJETA-PREPAGO::before {
    content: "\e902";
}
.slider-solucionesProcesamiento ul li a h4 {
    margin: 0;
    padding-top: 0px;
    color:#174d96;
}
/*Corresponsales bancarios*/
.contenedor-corresponsales {
	margin-top: 4%;
	background: rgb(23,77,150);
	border-radius: 10px;
	opacity: .8;
}
.introduccionCorresponsales {
	color: #fff;
	font-size: 23px;
}
.bar-descripcion {
	margin-left: 5%;
	margin-right: 5%;
}
.listaCorresponsales li {
	list-style: circle url(../recursos/liverde.png);
}
/*Monitoreo entidades*/
[class*=" icoMonitoreo-"], [class^="icoMonitoreo-"] {
	font-family: soluciones_monitoreo !important;
}
.icoMonitoreo-MONITOREO::before, .icoSP-BONO::before {
    content: "\e900";
}
.icoMonitoreo-ORION::before {
	content: "\e901";
}
.slider-solucionesMonitoreo {
	width: 800px;
}
.slider-solucionesMonitoreo {
	position: relative;
	padding: 80px 0;
	overflow: hidden;
	margin-left: 15%;
}
.slider-solucionesMonitoreo ul {
	list-style: none;
	margin: 0;
	padding: 0;
    height: 200px;
    display: inline-flex;
}
.slider-solucionesMonitoreo ul li {
    
	width: 200px;
	height: 150px;
}
.slider-solucionesMonitoreo ul li{
    text-align: center;	
    margin: 0 auto;
}
.slider-solucionesMonitoreo ul li a {
	color: rgb(23,77,150);
	width: 100%;
	height: 100%;
	padding: 10%;
	display: block;
	text-decoration: none;
}
.slider-solucionesMonitoreo ul li a h4 {
	margin: 0;
    padding-top: 20px;
    color:#174d96;
}
.slider-solucionesMonitoreo ul li span:hover {
	color: #fff;
	background: rgb(0,178,173);
	border-radius: 100%;
	border-color: rgb(0,178,173);
}
.introduccionRecaudos {
	color: #fff;
	font-size: 24px;
	margin: 7% 5% 6% 4%;
}
.contenedor-introduccionSC {
	margin-top: 4%;
	background: rgb(23,77,150);
	border-radius: 10px;
	opacity: .8;
}
.ttlMonitoreo {
	color: #00b2ad;
	font-weight: 700;
}
.bar-descripcionMonitoreo div {
	width: 100%;
	background-color: #00b2ad;
}
.listaMonitoreo li {
	list-style: circle url(../recursos/puntoMonitoreo.png);
}
/* Afiliación*/
#slider-procesoAfiliacion li a > span {
    font-size: 85px;
    font-weight: 700;
}
.slider-procesoAfiliacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 360px;
}
.slider-procesoAfiliacion ul li {
    text-align: -webkit-center;
    width: 211px;
    height: 200px;
    float: left;
}
#sec02 {
	background: url('../afiliacion/Foto-azul-2.jpg');
	background-size: contain;
}
.glyphicon-new-window::before {
    content: "\e164";
}
.goScrollAfiliacion {
    font-size: 28px;
    color: #9de000;
    padding-right: 15px;
    cursor: pointer;
}
.encabezadoAF{
    margin-top: 75px;
}
.ttlEncabezado {
    padding-top: 5%;
}
.numT {
    font-size: 40px;
    font-weight: 700;
}
.slider-afiliacionesImg {
    width: 760px !important;
    list-style: none !important;
    margin: 2% 0 2% -6%;
}
.slider-afiliacionesImg li {
    width: 122px !important;
    padding-bottom: 2%;
    float: left;
    margin-right: 10px;
}
.slider-afiliacionesImg {
    list-style: none !important;
}
.slider-afiliacionesImg li a img {
    width: 115px;
}
.glyphicon-check::before {
    content: "\e067";
}
.glyphicon-collapse-down::before {
    content: "\e159";
}
.spanSize {
    font-size: 19px !important;
}
.listAfiliacion li, .rdb_seccion2_area1 li {
    list-style: circle url(../afiliacion/liverde.png);
    color: #fff;
}
.glyphicon-circle-arrow-down::before {
    content: "\e134";
}
ul#pdfAfiliaciones,ul#visualizacionPDF{
    margin-bottom: 0;
}
/*Contacto*/
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-collapse-up:before {
    content: "\e160";
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.campoctc {
    border-color: rgb(23,77,150);
}
.campoctc, .menu .dropdown-menu, .menu .dropdown-menu li a:hover {
    background-color: rgb(23,77,150);
}
.blanco, .campoctc, .listar {
    color: #fff;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.container-contactenos{
    width: 50%;
    margin: 0 auto;
}
#infoCTC{
    width: 100%;
    margin: 0 auto;
}
#modalTerminos .modal-dialog {    
    min-width: 60%;
}
@media(min-width:1024px){
    #modalTerminos .modal-content {
        width: 65%;
        margin: 0 auto;
    }
}

.contenedorIconos {
    position: relative;
    padding-top: 3%;
}
.bottomSeccion {
    margin-bottom: 4%;
}
.ctc-borde {
    position: absolute;
    width: 60%;
    margin: 3% 20% 0;
}
hr {
    border-top: 3px solid!important;
}
.icoCTC-LINEA_ATENCION:before {
    content: "\e902";
}
.icoCTC-SEDE_PRINCIPAL:before {
    content: "\e903";
}
.icoCTC-UBICACI_N:before {
    content: "\e904";
}
.icono-contactenos {
    padding: 10px 10px 15px;
    background: rgb(23,77,150);
    margin: auto auto 5%;
    border-radius: 50%;
    width: 100px;
}
.icono-contactenos span {
    font-size: 80px;
    line-height: .9;
}
[class*=" icoCTC-"], [class^=icoCTC-] {
    font-family: 'contactenos'!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: .6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.info-telefonos{
    text-align: left;
}
/*Boletin*/
#myCarousel-B{
    margin-top: 75px;
}
.olsBoletin li {
    background-color: rgb(16,26,126);
}
.contDescripcion {
    background: rgb(16,26,126);
    border-radius: 10px;
    padding-bottom: 20px;    
}
.intro-b {
    margin-left: 7%;
    margin-right: 8%;
}
.botonLeer {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #9de000;
}
/*Politicas*/
.bannerConsumidor {
    background: url('../politicas/img.jpg');      
    background-position: center right;
    background-size: cover;
    padding-bottom: 50px;
}
.subseccion-P {
    padding-top: 75px;
}
/*Seguridad*/
.img-carrousel{
    width: 100px;
}
.subseccion-S {
    padding-top: 100px;
}
/*Soluciones*/
[class*=" icoSC-"], [class^="icoSC-"] {
    font-family: soluciones_comercios !important;
}
.sc-slider {
    overflow: hidden;
    height: 100%;
    margin-bottom: 6%;
    margin-top:75px;
}

.slider-soluciones {
	width: 1000px;
	position: relative;
	padding: 0 0 90px 0;
	overflow: hidden;	
	margin: 0 auto;
}
.slider-soluciones ul {
    list-style: none;
    margin: 0;        
    padding: 0;
    height: 200px;
}
.slider-soluciones ul li {
    text-align: center;
    width: 200px;
    height: 150px;
    float: left;    
}
.slider-soluciones ul li a {
    color: rgb(23,77,150);
    width: 100%;
    height: 100%;
    padding: 10%;
    display: block;
    text-decoration: none;
}
.productos span {
    font-size: 150px;
    border-radius: 100%;
    border: 3px solid;
    color:rgb(23,77,150);
}
.icon-icondatafono::before {
    content: "\e900";
}
.icoSC-pagoSinContacto::before {
    content: "\e901";
}
.icon-iconpagosenlinea::before {
    content: "\e902";
}
.icoSC-pagaEnTuMoneda::before {
    content: "\e900";
}
.icon-iconSIC::before {
    content: "\e903";
}
.slider-soluciones ul li a {
    color: rgb(23,77,150);
}
.slider-soluciones ul li span:hover {
    color: #fff;
    background: rgb(23,77,150);
    border-radius: 100%;
    border-color: rgb(23,77,150);
}
.container.slider #adelante, .container.slider #atras {
    color: rgb(23,77,150);
    font-size: 50px;
    padding: 225px 80px;
    position: absolute;
    cursor: pointer;
}
.container.slider #adelante, .container.slider #atras {
    color: rgb(23,77,150);
    font-size: 50px;
    padding: 225px 80px;
    position: absolute;
    cursor: pointer;
}
.container.slider #atras {
    left: 0;
    top: 0;
}
.container.slider #adelante {
    right: 0;
    top: 0;
}
.slider-soluciones ul li a h4 {
    margin: 0;    
    color: rgb(23,77,150);
}
.contenedor-introduccionSC {
    margin-top: 4%;
    background: RGB(23,77,150);
    border-radius: 10px;
    opacity: .8;
}
.parrafoClaveSC {
    font-size: 33px;
}
.parte-1 {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.introduccionComercios {
    color: #fff;
    font-size: 27px;
    margin: 7% 8% 6%;
}
.bar-descripcion {
    margin-left: 5%;
    margin-right: 5%;
}
.sc-fondo2 {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-top: 0;
}
.sc-caracteristicas {
    background-image: url(../comercio/semi-circulo.png);
    background-size: cover;
    float: right;
}
.sc-caracteristicas, .sc-moviles {
    height: 100vh;
    background-repeat: no-repeat;
    width: 57%;
}
.solucionesComercios li {
    list-style: circle url(../comercio/punto-azul.png);
}
.sc-beneficios {
    margin-top: 4%;
    background: rgb(23,77,150);
    border-radius: 10px;
    opacity: .8;
    padding: 2% ; 
}
.margenVideo {
    border: 2px solid;        
    border-color: rgb(16,26,126);
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.sc-caracteristicas > div > img {
	margin-top: 20%;
	margin-bottom: 10%;
}
/* Soluciones moviles*/
.solucionesMoviles{
    padding-bottom: 20px;
}
.slider-solucionesMoviles {
	width: 800px;
}
.slider-solucionesMoviles {
	position: relative;
	padding: 80px 0 100px 0;
	overflow: hidden;
	margin-left: 15%;
}
.slider-solucionesMoviles ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 200px;
}
.slider-solucionesMoviles ul li {
	text-align: center;
	width: 200px;
	height: 150px;
	float: left;
	visibility: hidden;
}
.slider-solucionesMoviles ul li a, .slider-solucionesMoviles ul li a h4 {
	color: rgb(23,77,150);
	width: 100%;
	height: 100%;
	padding: 10%;
	display: block;
	text-decoration: none;
}

.slider-solucionesMoviles2 {
	width: 825px;
	margin: 0 auto;
}
.slider-solucionesMoviles2 {
	position: relative;
	padding: 80px 0 100px 0;
	overflow: hidden;	
}
.slider-solucionesMoviles2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 200px;
}
.slider-solucionesMoviles2 ul li {
	text-align: center;
	width: 200px;
	height: 150px;
	float: left;
	visibility: hidden;
}
.slider-solucionesMoviles2 ul li a, .slider-solucionesMoviles2 ul li a h4 {
	color: rgb(23,77,150);
	width: 100%;
	height: 100%;
	padding: 10%;
	display: block;
	text-decoration: none;
}



[class*=" icoSM-"], [class^="iconSM-"] {
	font-family: soluciones_moviles !important;
}
.iconSM-MINIDATAFONO:before{content:"\e903"}
.iconSM-CODIGO_QR:before{content:"\e901"}
.iconSM-BANCA_MOVIL:before{content:"\e900"}
.iconSM-MONEDERO_CELULAR:before{content:"\e904"}
.iconSM-DINERO_ELECTRONICO:before{content:"\e902"}
.iconSM-SMS:before{content:"\e905"}

.slider-solucionesMoviles ul li span{
    cursor: pointer;
}
.slider-solucionesMoviles ul li span:hover {
    color: #fff;
    background: rgb(251,107,3);
    border-radius: 100%;
    border-color: rgb(251,107,3);
}
.sc-moviles {
    float: left;
    padding-top: 10%;
}
.sc-moviles {
	background-image: url(../recursos/fondo-noticias.png);
	background-size: cover;
	background-position: 100% 0;
}
.sc-caracteristicas, .sc-moviles {
	height: 100vh;
	background-repeat: no-repeat;
	width: 57%;
}
.sc-moviles > div > div {
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contenedorProcesamientosSM {
	margin-top: 2%;
	background: #184E98;
	border-radius: 26px;
	padding: 16px;
}
.movil-sc > img {
    padding-top: 2%;
}
.img-descripcion {
    height: 20vh;
}
.movil-sc .fuente_gris{
    padding-bottom: 15%;
}
.fuente_gris {
	font-weight: 700;
	font-size: 13px;
	color: #51514F;
	margin-bottom: 15%;
}
/*Footer*/
.row:before {
    display: table;
    content: " ";
}
.wrapper-Footer {
    text-align: center;
    overflow: hidden;
}
.enlaces-footer {
    background: #383838;
    padding: 30px 0 10px;
}
.footertitulo {
    color: #fff;
}
.footertitulo:hover {
    text-decoration: none;
    color: #9de000;
}
.progress {
    height: 3px !important;
    margin-top: 5%;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.listar {
    list-style: none;
    padding: 0;
    z-index: 1;
    position: relative;
}
.listar li span{
    margin: 20px 5px;
    float: left;
    padding: 0 5px;
}
.listar a {
    color: #fff;
    text-decoration: none;
}
.terminosLegales {
    background-color: rgb(23,77,150);
    color: #fff;
    opacity: .9;
}
.terminosLegales p {
    padding: 6px 0 0 0!important;
    margin: 0;
}
.icoIns-icon-instagram-logo::before, .icon-icondatafono::before {
    content: "\e900";
}
.ico-linkedin::before {
    content: "\f0e1";
}
.ico-youtube::before {
    content: "\f167";
}
.ico-twitter::before {
    content: "\f099";
}

.ico-facebook::before {
    content: "\f09a";
}
[class*=" icoIns-"], [class^="icoIns-"] {
    font-family: 'icons_instagram' !important;
    font-size: 18px;
}
[class*=" icon-"], [class^="icon-"] {
    font-family: rbm !important;
}
.redeapp img{
    max-width: 100px;
    margin: 0 auto;
}
/*popup informativo*/
#modalProductos .modal-dialog {
	max-width: 600px;    
    margin: 1.75rem auto;
    height: 600px;
}
#modalProductos .modal-content{
    background: url(../img/comunicado.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    background-position:center ;
    border: none;
}
#modalProductos .modal-header {	
	border-bottom: none;
}
#modalProductos .modal-body{
    height: 600px;    
}
/* Media Query*/
@media(min-width:1600px){
    .adjust{
        top:30%;
    }
    .adjust .link-sub{
        margin-top: 5%;
    }
}
@media(max-width:1440px){
    .sub-container {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 1024px){
    .descpci, .logopci span {
        font-size: 26px;
    }
    .addtextpci {
    font-size: 20px;
    }
    .slider-historia {
        width: 632px;
    }
    .adjust{
        top:25%;
    }
    .adjust .link-sub{
        margin-top: 5%;
    }
    .adjust p{
        font-size: 18px;
    }
    .adjust-2{
        top:0;
    }
    .adjust-2 .link-sub{
        margin-top: 15%;
        text-align: left;
    }
    .adjust-2 p{
        font-size: 20px;
    }
    .slider-soluciones, .slider-solucionesRecaudo {
        width: 100%;
        position: relative;
        padding: 0 0 40px 0;
        overflow: hidden;
        margin: 0 auto;
    }
    .slider-soluciones ul li , .slider-solucionesRecaudo ul li{
        text-align: center;
        width: 100%;
        height: auto;
        float: left;
    }
    .slider-soluciones ul li a , .slider-solucionesRecaudo ul li a{
        padding: 5%;
    }
    .slider-solucionesRecaudo ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: auto;
        display: block;
    }


    .slider-solucionesMoviles2 {
        width: 100%;
    }
    
    .slider-solucionesMoviles2 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    .slider-solucionesMoviles2 ul li {
        text-align: center;
        width: 100%;
        height: auto;
        float: left;
        text-align: center;
    }
    .slider-solucionesMoviles2 ul li a, .slider-solucionesMoviles2 ul li a h4 {
        color: rgb(23,77,150);
        width: 100%;
        height: 100%;
        padding: 10%;
        display: block;
        text-decoration: none;
    }
}
@media (min-width: 992px){
    .contNoticias {
        padding-bottom: 5%!important;
        margin-top: 75px!important;
        height: 60vh!important;
        background-position: center!important;
    }
    
   
}
@media(max-width:990px){
    h1.mas-grande{
        font-size: 28px;
    }
    .mas-grande{
        font-size: 18px;
    }
    .data-cajon{
        margin: 50px auto 0 auto;
    }
}

@media (max-height: 768px){
    .info-iva a{
        font-size: 1.15em;
        padding: 2px 10px;
    }
    
    .descpci, .logopci span {
        font-size: 25px;
    }
    .addtextpci {
    font-size: 20px;
    margin: 8px;
    }
    .encabezado div, .encabezado2 div{
        font-size: 34px;
        font-weight: 700;
        padding-left: 30px;
        padding-top: 35px;
    }
    .encabezadoNoticias div {
        font-size: 34px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .cuadroQS {
        color: #fff;
        text-align: justify;
        margin: 3% 3% 0 5%;
    }
    .cuadroQS, .descripcionPorcesamientos p {
        font-size: 19px;
    }
    .encabezado {
        padding-top: 115px;
    }
    
}
@media (max-width: 768px){
    .navbar-expand-md > .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
   .logopci {
      -webkit-flex-direction: column;
       flex-direction: column;
   }
   .descpci{
        font-size: 18px;
    }
    .logopci span {
    font-size: 15px;
    }
    .addtextpci {
        font-size: 13px;
    }
    .bannerSP, .seccionDescripcion {
        height: 90vh;
    }
    .navbar {
        height: 90px;
        padding: 0 0px !important;    
    }
    .nav-item{
        margin-left: 30px;       
    }
    .nav-item a {
        color: #fff
    }
    .nav-link, .nav-link:hover {
        color:#fff;
    }
    #navbarResponsive {
        background-color: rgba(23,77,150,.85);
        width: 100%;    
    }
    .dropdown-menu {
        margin:0;
    }
    #app1:hover > .second-level,#app2:hover > .second-level,#app3:hover > .second-level,#app4:hover > .second-level {       
        left: 250px;       
    }
    #carouselHome {
        margin-top: 90px;
    }
    .adjust-2 .link-sub{
        margin-top: 10%;
        text-align: left;
    }
    .adjust h1, .adjust-2 h1{
        font-size: 28px;
    }
    .adjust p,.adjust-2 p{
        font-size: 14px;
    }
    .adjust a, .adjust-2 a{
        font-size: 14px;
    }
    .carousel-caption.aux-caption {        
        top: 0;        
        z-index: 10;
        padding-top: 0;        
    }
    .aux-caption h1{font-size: 36px;}
    .aux-caption p{
        font-size: 16px;
    }
    ul#slider-solucionesProcesamiento {
        margin: 0 auto;
        width: 100%;	
    }
    .inicio{
        margin-top: 25px;
    }
    .inicio img{        
        margin: 0 auto;
        text-align: center; 
        display: block;
    
    }
    .btn-azul{
        width: 50%;
    }
}
@media (max-width:600px){
    
    .info-iva{
        position: absolute;
        top:85%;
        width: 100%;
        display: block;   
        text-align: center; 
        margin: 0 auto;
    }
    .info-iva a{
        padding: 10px;
    }
    #carouselHomeMini {
        margin-top: 85px;
    }
    .carousel-indicators li {        
        margin: 0 10px;        
    }
    .adjust,.adjust-2{
        text-shadow: 2px 2px 3px #000000;
    }
    .adjust-2 .link-sub,.adjust .link-sub {
        margin-top: 20%;
        text-align: left;
    }
    .enlaces-interes a img{
        margin:5px auto;
    }   
    .carousel-caption {
        position: absolute;
        right: 0; 
        bottom: 20px;
        left: 5%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 0px;
        
    } 
    .encabezado2,.encabezado{
        margin-left: 10px;
    }
    .encabezado{
        padding-top: 20px;
    }
    .encabezado2 img,.encabezado img {
        width: 30%;
        height: 30%;
        margin-top: 35px;
    }
    #sec02 {        
        background-size: cover;
    }
    .slider-solucionesProcesamiento {       
        margin-left: 0; 
    }
    .btn-pagos{
        margin-top:85%;
    }
    .btn-pagos img{
        width: 85%;
        margin: 0 auto;
    }
    ol.carousel-indicators{
        margin-bottom: 0;
    }
    .sc-caracteristicas{
        width: 100%;
    }
    .titulo-subseccion {
        font-size: 22px;
    }
}
@media (max-width:450px){
    #informes{
        margin-left: 20px;
    }
    .encabezado div{
        padding-top: 45px;
    }
    .listar li span {
        margin: 5px 5px;
        float: left;
        padding: 0 5px;
    }
    #modalProductos .modal-content {        
        height: 400px;        
    }
}
@media (max-width:360px){    
    #modalProductos .modal-content {        
        height: 360px;        
    }
}
/*Chat*/
.chat-window {
    position: fixed;
    right: 2%;
    bottom: 32px;
    z-index: 1000;
}
#chatDivBtn div button span {
    background: transparent;
    height: 37px;
    line-height: 37px;
    padding-left: 10px;
    padding-right: 37px;
    color: #fff;
}
#chatDivBtn.roundBorders {
    border-radius: 7px 7px 7px 7px;
    display: inline-block;
}
#chatDivBtn.roundBordersTop {
    border-radius: 7px 7px 0px 0px;
    display: block;
}
#chatDivBtn {
    height: 37px;
    overflow: hidden;
    display: inline-block;
    line-height: 37px;
    text-align: left;
    background: #101a7e;
    background: -moz-linear-gradient(top, #3f4797 0%, #101a7e 100%);
    background: -webkit-linear-gradient(top, #3f4797 0%,#101a7e 100%);
    background: linear-gradient(to bottom, #3f4797 0%,#101a7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4797', endColorstr='#101a7e',GradientType=0 );
}
#chatDivBtn.roundBordersTop div {
    width: 100%;
}
#chatDivBtn div, #chatDivBtn button {
    padding: 0;
    border: 0;
    background: transparent;
    text-align: left;
}
#chatDivBtn button {
    cursor: pointer;
}
#chatDivBtn div button img {
    background: #101a7e;
    display: inline-block;
    border-right: 1px solid black;    
    padding: 5px;
}
#chatDivBtn div button.closebtn {
    background: transparent;
    display: inline-block;    
    padding: 0px;
}
.embed-container {
    position: relative;
    /* height: 500px; */
    height: 101%;
    overflow: hidden;
    /* padding-right: 75%; */
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 101%;
}
.chat-window-expanded {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 37px;
    right: 0;
    z-index: 10000;
}
@media only screen and (min-width: 768px){
    .chat-window-expanded .embed-container {
        height: 450px;
        width: 380px;
        max-height: inherit;
    }
    .chat-window-expanded {
        position: fixed;
        right: 2%;
        bottom: 32px;
        top: auto;
        left: auto;
        z-index: 1000;
    }
}
@media(max-width:500px){
    .chat-window-expanded {
        position: fixed;
        top: 20%;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        max-width: 90%;
        margin: 0 auto;
        max-height: 50vh;
    }
    
}


/*Header Datamas*/
header.datamas{    
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(235,237,243,1) 0%, rgba(222,227,236,1) 70%, rgba(154,169,197,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(235,237,243,1)), color-stop(70%, rgba(222,227,236,1)), color-stop(100%, rgba(154,169,197,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(235,237,243,1) 0%, rgba(222,227,236,1) 70%, rgba(154,169,197,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(235,237,243,1) 0%, rgba(222,227,236,1) 70%, rgba(154,169,197,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(235,237,243,1) 0%, rgba(222,227,236,1) 70%, rgba(154,169,197,1) 100%) ;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(235,237,243,1) 0%, rgba(222,227,236,1) 70%, rgba(154,169,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9aa9c5', GradientType=1 );
    height: 229px;
    width: auto;
}
.datamas .col-4{
    position: relative;
    background: url('../img/datamas/shape.png') no-repeat left top;
    background-size: 100% 230px;
}
.vigilado{
    position: absolute;
    top:20%;    
}
.vigilado img{
    width: 10px;
}
.logo {
	width: 60%;
	margin: 25px 0 0 10%;
}
.logo img{
    margin: 20px;
    display: block;
}
.datamas .col-4 p{
    font-family:'plantilla1';  
    color:#fff;
    width: 40%;
    text-align: center;
    margin:0 20%;
    line-height: 1.6em !important; 
    font-weight: 300;   
}
.datamas .col-4 p strong{
    font-weight: bold;
}
.datamas .col-4 p span{
    font-size: 1.5em !important;
    font-style: italic;
    color:#7c8fb5;
}
.datamas ul{
    list-style: none;
    display: inline-flex;  
    margin: 0 auto;  
}
.datamas li{
    margin: 20px 10px;
    background-color: #fff;
    border-radius: 5px;    
    width:150px;
}
.datamas li img{
    width: 80px;
    margin: 10px auto;
    display: block;
    padding: 5px;
}
.datamas li p{
    text-align: center;
    font-weight: normal;
    color:#a9a8a8;
    font-size: 0.8em;
    margin-top: 10px;
    height: 80px;
}
.datamas li p strong{
    font-weight:bolder;
    color:#888888;
}
@media(max-width:1024px){
    header.datamas{
        width: 150%;
    }
    
}
@media(max-width:768px){
    
    .datamas .col-4 p {
        font-family: 'plantilla1';
        color: #fff;
        width: 65%;
        text-align: center;
        margin: 0 10%;
        line-height: 1.6em !important;
        font-weight: 300;
    }
    .logo {
        width: 80%;
        margin:0 5%;
    }
}
