@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica-Bold.otf')  format('opentype'),
           url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf')  format('truetype'), url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
 }


@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Bd.otf')  format('opentype'),
           url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  

html{
    scroll-behavior: smooth;
}
section{
    font-family: 'HelveticaNeueLTStd-Bd';
}
.iva.nav-item{
    padding: 0 20px;
}
.iva a{
    color: #101a7e;
    font-size: 1.3em;
    font-weight: 600;
}
.banner{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.banner img{
    display: block;
    width: 100%;
}
.que-es{
    background: url(../img/rbm-bg-seccion-2.png);
    background-position: center center;
    background-size: cover;
    min-height: 50vh;
    margin-top: -160px;
}
.que-es .titulo,.como .titulo, .preguntas .titulo{
    font-family: 'Helvetica-Bold';
    font-size: 3.2em;
    text-align: center;
    width: 100%;
    padding: 60px 0 50px 0;
    color:#f58000;
    font-weight: bold;
}
.que-es .container{
    padding-top: 150px;
}
.que-es p{
    color: #101a7e;
    font-size: 1.2em;
    display: inline-block;
    margin: 10% 0;

}
.que-es p span{
    color:#f58000;
    font-weight: bold;
}
.como .subtitulo{
    font-family: 'plantilla1';
    text-align: center;
    color: #727176;
    font-size: 1.2em !important;
}
.como .subtitulo a{
    color:#f58000;
}
.datafono{
    margin-top: 30px;
}
.como .datafono{
    text-align: center;
    color:#f58000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}
.como .datafono img{
    display: block;
    margin:0 auto;
}
.como .datafono img.foto{
    display: block;
    margin:0 auto;
    height: 180px;
    width: auto;
}
.info-decreto{
    margin:100px auto ;
}
.como .decreto{
    font-size: 2em;
    color: #101a7e;
    padding-top: 30px;
    text-align: center;
}
.como .decreto p{
    margin: 10% 0 2% 0;
}
.como .decreto span{
    color: #f58000;
}
.como .decreto img{
    display: block;
    margin:0 auto;
}
.manuales {
	width: 100%;
	margin-top: 50px;
	background: #e7e7e7;
	padding: 25px;
}
.manuales p {
	font-size: 1.2em;
	margin-top: 20px;
}
.manuales p.azul{ 
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
}
.iva-btn{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}
.iva-btn.collapsed{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}
.btn-ver{
    max-width: 200px;
    text-align: center;
    margin:15px auto;
    display: block;
}
.preguntas img{
    display: block;
    margin: 0 auto;
}
/*Seccion faq*/
.preguntas .nav-item a{
    color:transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: transparent;
	background-color: transparent;
	border-color: transparent;
}
.nav-tabs .nav-item {	
	margin: 0 auto;
}
.nav-tabs {
	border-bottom: none;
	margin: 0 auto;
	text-align: center;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: transparent;
}
#myTab{
    margin: 50px auto;
}
#myTabContent{
    display: none;
}
.inc-class{
    width: 150px;
    background: url(../img/Btn-INC_inactivo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.iva-class{
    width: 150px;
    background: url(../img/Btn-IVA_inactivo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.generales-class{
    width: 180px;
    background: url(../img/Btn-GENERALES_inactivo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.inc-class.active{
    width: 150px;
    background: url(../img/Btn-INC_activo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.iva-class.active{
    width: 150px;
    background: url(../img/Btn-IVA_activo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.generales-class.active{
    width: 180px;
    background: url(../img/Btn-GENERALES_activo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.faq .panel-body p{
    padding: 5px 10px;
}
/*Acordeon faqs*/


.content {
    border-radius: 0px;
  }
  .panel-group {
    margin-bottom: 0;
  }
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
  }
  .panel-group .panel .panel-heading {
    padding: 0;
  }
  .panel-group .panel .panel-heading h4 a {
    background: #d3dcec;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
    margin: 2px;
    border-radius: 10px;
  }
  .panel-group .panel .panel-heading h4 a:hover { 
    background: #d9edf7;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;	
  }
  .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "";
  }
  .panel-group .panel .panel-heading h4 a i {
    color: #999;
  }
  .panel-group .panel .panel-body {
    padding-top: 0;
  }
  .panel-group .panel .panel-heading + .panel-collapse > .list-group,
  .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
  }
  
  .panel-default {
      border-color: #fff;
  }
  .panel-heading{
      border-radius: 30px;
  }
  
  .panel-default > .panel-heading {
      color: #333;
      background-color: #fff;
      border-color: #fff;
  }
  
  .faq{
      padding: 10px;
      margin: 20px;
  }
  svg {
      float: right;
  }
  
.iconos{
    padding: 20px 0;
}
.iconos img{
    display: block;
    margin: 0 auto;
    width: 150px;
}

footer{
    position: relative;
    padding: 60px 0;
    background: #dbdbdb;
}
footer img{
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

footer span{
    display: block;
    text-align: left;
    font-size: 0.8em;
    color: #727272;
    margin-top: 20px;
    margin-left: 7%;
}
footer .vigilado{
    left: 5%;
}
@media(max-width:768px){    
    .navbar-brand img {        
        margin-left: 15px;
    }
    .navbar-expand-md > .container-fluid {
        padding-right: 0px;
        padding-left: 0;
    }
    .iva a {
        color: #fff;
        font-size: 1.3em;
        font-weight: 600;
    }
}
@media(max-width:510px){
    .nav-tabs {
        display: block;
    }
    .como .decreto {
        text-align: center;
    }
    .panel-group .panel .panel-heading h4 a {        
        padding: 10px 15px 24px 10px;   
        font-size: 13px;     
    }
    footer span{       
        margin-left: 10%;
    }
    #myTab li{
        margin: 15px auto ;
    }
    .como .subtitulo{
        padding: 0 15px;
    }
}

